<div class="justify-center items-center">
  <h2 class="text-3xl p-3 m-3 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
    {{game.title}}
  </h2>
  <img src="" alt="" class="flex-wrap m-8 flex row justify-center items-center">
</div>
</div>