<section class="">
  <a href="/profile/{{username}}">
    <header>{{title}}</header> 

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
    </div>
  </a>
</section>

<!--title should be game title-->
<!--src images will show game art-->
<!---->