    <!--THIS IS MAIN PAGE WHEN USER LOGS IN. THEY ARE PRESTENTED WITH MOST POPULAR GAMES,
    USER CAN CLICK ON GAME, THEY WILL BE REDIRECTED TO A PAGE THAT SHOWS MORE INFO ON GAME 
    LIKE RATING, CATEGORY OF GAME, AND RECENT COMMENTS ON THE GAME, USERS CAN THEN ADD A 
    COMMENT ABOUT THE GAME THAT CAN BE SEEN BY OTHER USERS. MAIN USER CAN RATE A GAME THEY LOVE OR HATE
    -->

    <header>

    <div class="container flex flex-wrap items-center justify-center mx-auto ">
        <h1 class="text-7xl p-5 m-5 text-slate-700" id="heading">GameBoxd</h1>
    </div>

    <nav class="px-2 sm:px-4 py-2.5 rounded bg-teal-500 flex items-stretch">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="" class="flex items-center">
              <!-- <img src="" class="h-6 mr-3 sm:h-9" alt="logo" /> --> 
              <span class="self-center text-xl font-semibold text-white text-3xl">GameBoxd</span>
          </a>
          
          <div class="hidden w-full md:block md:w-auto flex align-content: space-between;">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">
              <li>
                <a href="./loggedin.handlebars" class="text-2xl block py-2 pl-3 pr-4 text-slate-100 rounded hover:bg-gray-100 hover:drop-shadow-lg md:hover:bg-transparent md:border-0 md:hover:text-blue-700  md:p-0" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="text-2xl block py-2 pl-3 pr-4 text-slate-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Logout</a>
              </li>
              <li>
                <form class="order-first mb-10 md:mb-0 md:order-last md:pr-8" action="">
                    <input class="w-72 py-1 pl-3 pr-10 rounded-full focus:outline-0" type="text" placeholder="Search.."
                        name="search">
                    <button class="-ml-8 border-6 bg-trasparent" type="submit"><i
                            class="fa fa-search text-gray-400"></i></button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!--CODE BELOW IS FOR HOME PAGE, IT IS SHOWING TOP # POPULAR GAMES-->
 
    <section id="gameList" class="flex justify-center">
      <div id="" class="text-3xl text-white p-10 text-center flex items-center">
        <ul id="" class="border-4 rounded">
           <h1 class="m-10 text-slate-700">Popular Games</h1>
           <div class="flex items-center p-8 justify-between">
           <a href="./comment.handlebars"><li id="game1" class="border-4 rounded max-w-2xl flex items-center"> test</li></a>
           <a href="./comment.handlebars"><li id="game1" class="border-4 rounded max-w-2xl flex items-center"> test</li></a>
           <a href="./comment.handlebars"><li id="game1" class="border-4 rounded max-w-2xl flex items-center"> test</li></a>
          </div>
        </ul>
    </div>
    </section>