<div class="border-4 border-gray-100 m-5">
    <h1 class="text-xl m-1 p-1">{{username}}</h1><!--Username that left comment/review will go here-->

    <p id="gameReview" class="m-1 p-1"><!--Game Review will go here--></p>
</div>