<!--THIS IS FIRST PAGE USER SEES WHEN THEY COME TO GAMEBOXD USER CAN LOGIN OR SIGNUP-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <style>
        @import url("https://p.typekit.net/p.css?s=1&k=tls2wal&ht=tk&f=25293.25296.25297.25298.25303.25304.25305.25306.25307&a=59059523&app=typekit&e=css");
    </style> --}}
    <title>GameBoxd</title>
</head>

<body
    class="min-h-screen bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-gray-200 via-gray-400 to-gray-600">

    {{#unless logged_in}}
    <main class="flex justify-center">
        <div id="" class="text-3xl text-white m-10 p-10 text-center shadow-inner shadow-xl">
            <ul id="" class="border-4 rounded max-w-2xl ">
                <li id="million" class="text-3xl text-white p-10 mt-5">Make an account and join<br>The other Million
                    Users!*</li>
                <li id="million" class="text-3xl text-white p-10">Find other players that play <br>the games you love
                </li>
                <li id="million" class="text-3xl text-white p-10"> Review and add your favorite <br>games to your
                    profile</li>
            </ul>
        </div>

        <div class="m-10 p-10">
            <h1 class="text-5xl p-5 m-5 text-slate-700">Sign up Here!</h1>
            <form class="bg-slate-700 shadow-lg rounded-2xl px-8 pt-6 pb-8 mb-4 signUp-form">
                <div class="mb-4">
                    <label class="block text-slate-200 text-sm font-bold mb-2" for="signupUsername">
                        Username
                    </label>
                    <input
                        class="shadow-lg border-2 rounded-full w-full py-2 px-3 text-gray-700 border-green-500 focus:outline-none focus:shadow-outline"
                        id="signupUsername" type="text" placeholder="Super Cool Username">
                </div>
                <div class="mb-4">
                    <label class="block text-slate-200 text-sm font-bold mb-2" for="signupEmail">
                        Email
                    </label>
                    <input
                        class="shadow-lg border-2 rounded-full w-full py-2 px-3 text-gray-700 border-yellow-500 focus:outline-none focus:shadow-outline"
                        id="signupEmail" type="text" placeholder="Email">
                </div>
                <div class="mb-4">
                    <label class="block text-slate-200 text-sm font-bold mb-2" for="signupPassword">
                        Password
                    </label>
                    <input
                        class="shadow-lg border-2 rounded-full w-full py-2 px-3 text-gray-700 border-red-500 focus:outline-none focus:shadow-outline"
                        id="signupPassword" type="password" placeholder="Super Secret Password">
                </div>
                <a href="/">
                    <div class="flex items-center justify-center">
                        <button
                            class="bg-blue-500 hover:bg-blue-700 rounded-full text-white font-bold py-4 px-6 mt-8 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Sign Up
                        </button>
                    </div>
                </a>
            </form>
        </div>
        </div>
    </main>

    <p class="flex justify-center text-white">* only four users right now, but it has potential.</p>
    {{/unless}}
    <div class="container flex flex-wrap items-center justify-center mx-auto grid grid-flow-row auto-rows-max">
        <h1 class="text-7xl p- m-10 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
            Popular Games
        </h1>
        <div class="flex items-center p-8 justify-between m-2 p-2 container flex-wrap mx-auto">
            <h2 id="nameofGame"
                class=" text-3xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                <span>Breath of the Wild </span>
            </h2>
            <div class="container flex flex-wrap items-center justify-center mx-auto">
                <div
                    class="container flex flex-wrap items-center justify-center mx-auto relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
                    <a><img src="../images/The_Legend_of_Zelda_Breath_of_the_Wild.jpg"
                            alt="Breath of the wild cover art"
                            class="max-w-xs hover:scale-105 transition duration-200 ease-in-out cursor-pointer"></a>
                </div>

                <div class="container flex flex-wrap items-center justify-center mx-auto">
                    <p id="million" class="text-1xl text-white m-10 p-10 text-center border-4 rounded max-w-2xl">
                        After a 100-year slumber, Link wakes up alone in a world he no longer remembers.
                        Now the legendary hero must explore a vast and dangerous land and regain his
                        memories before Hyrule is lost forever. Armed only with what he can scavenge,
                        Link sets out to find answers and the resources needed to survive.
                    </p>
                </div>
            </div>

            <div class="flex items-center p-8 justify-between m-2 p-2 container flex-wrap mx-auto">
                <h2 id="nameofGame"
                    class=" text-3xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                    <span>Elden Ring</span>
                </h2>
                <div class="container flex flex-wrap items-center justify-center mx-auto">
                    <div
                        class="container flex flex-wrap items-center justify-center mx-auto relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
                        <a><img src="../images/elden ring.jpg" alt="Elden ring cover art"
                                class="max-w-xs hover:scale-105 transition duration-200 ease-in-out cursor-pointer"></a>
                    </div>

                    <div class="container flex flex-wrap items-center justify-center mx-auto">
                        <p id="million" class="text-1xl text-white m-10 p-10 text-center border-4 rounded max-w-2xl">
                            Elden Ring is an action role-playing game played in a third person
                            perspective, with gameplay focusing on combat and exploration. It features
                            elements similar to those found in other games developed by FromSoftware,
                            such as the Dark Souls series, Bloodborne, and Sekiro: Shadows Die Twice.
                        </p>
                    </div>
                </div>
            </div>


            <div class="flex items-center p-8 justify-between m-2 p-2 container flex-wrap mx-auto">
                <h2 id="nameofGame"
                    class=" text-3xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                    <span>Overwatch</span>
                </h2>
                <div class="container flex flex-wrap items-center justify-center mx-auto">
                    <div
                        class="container flex flex-wrap items-center justify-center mx-auto relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
                        <a href=""><img src="../images/Overwatch_cover_art.jpg" alt="overwatch cover art"  class="max-w-xs hover:scale-105 transition duration-200 ease-in-out cursor-pointer"></a>
                    </div>

                    <div class="container flex flex-wrap items-center justify-center mx-auto">
                        <p id="million" class="text-1xl text-white m-10 p-10 text-center border-4 rounded max-w-2xl">
                            Overwatch is a first-person multiplayer shooter, set in a future where a
                            conflict between robots and humanity necessitated the creation of a task
                            force, conveniently called "Overwatch." In the game's primary competitive
                            mode, players are arranged into two teams of six and compete on a variety of
                            maps and game types.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ul>
    </div>
    </section>




    <footer class="flex justify-center text-white">
        <h2> MADE BY GAMERS. </h2>
    </footer>
    <script src="/js/signup.js"></script>
    {{!--
    <script src="./public/js/public.js"></script> --}}
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>

</html>