<div class="flex justify-center items-center flex-wrap border-2">
<div class="w-full max-w-lg px-10 py-8 mx-auto ">
  <div class="">
    <h1 class="text-5xl text-slate-700 p-1 flex justify-center items-center">{{user.name}}</h2>
  </div>
  
  <div class="">
    <h2 class="text-3xl text-white m-1 flex justify-center items-center">favorites:</h3>
  </div>
  
</div>  

<section>
{{#each users as |user| }}
{{> gameCard}}
{{/each}}
</section>