<!--CODE BELOW WILL SHOW USER PROFILE LIST OF GAMES THAT THEY ADDED TO PROFILE -->

                    <div
                        class="container flex flex-wrap items-center justify-center mx-auto grid grid-flow-row auto-rows-max">
                        <h1
                            class="text-7xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                            GAMES I LOVE
                        </h1>
                        <div class="flex items-center p-8 justify-between m-2 p-2 container flex-wrap mx-auto">
                            <h2 id="nameofGame"
                                class=" text-3xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                                <span>Breath of the Wild </span>
                            </h2>
                            <div class="container flex flex-wrap items-center justify-center mx-auto">
                                <div
                                    class="container flex flex-wrap items-center justify-center mx-auto relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
                                    <a><img src="./images/The_Legend_of_Zelda_Breath_of_the_Wild.jpg" alt=""
                                            class="max-w-xs hover:scale-105 transition duration-200 ease-in-out cursor-pointer"></a>
                                </div>

                                <div class="container flex flex-wrap items-center justify-center mx-auto">
                                    <p id="million"
                                        class="text-1xl text-white m-10 p-10 text-center border-4 rounded max-w-2xl">
                                        After a 100-year slumber, Link wakes up alone in a world he no longer remembers.
                                        Now the legendary hero must explore a vast and dangerous land and regain his
                                        memories before Hyrule is lost forever. Armed only with what he can scavenge,
                                        Link sets out to find answers and the resources needed to survive.
                                    </p>
                                </div>
                            </div>

                            <div class="flex items-center p-8 justify-between m-2 p-2 container flex-wrap mx-auto">
                                <h2 id="nameofGame"
                                    class=" text-3xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                                    <span>Elden Ring</span>
                                </h2>
                                <div class="container flex flex-wrap items-center justify-center mx-auto">
                                    <div
                                        class="container flex flex-wrap items-center justify-center mx-auto relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
                                        <a><img src="./images/elden ring.jpg" alt=""
                                                class="max-w-xs hover:scale-105 transition duration-200 ease-in-out cursor-pointer"></a>
                                    </div>

                                    <div class="container flex flex-wrap items-center justify-center mx-auto">
                                        <p id="million"
                                            class="text-1xl text-white m-10 p-10 text-center border-4 rounded max-w-2xl">
                                            Elden Ring is an action role-playing game played in a third person
                                            perspective, with gameplay focusing on combat and exploration. It features
                                            elements similar to those found in other games developed by FromSoftware,
                                            such as the Dark Souls series, Bloodborne, and Sekiro: Shadows Die Twice.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="flex items-center p-8 justify-between m-2 p-2 container flex-wrap mx-auto">
                                <h2 id="nameofGame"
                                    class=" text-3xl p-5 m-5 text-slate-700 container flex flex-wrap items-center justify-center mx-auto">
                                    <span>Overwatch</span>
                                </h2>
                                <div class="container flex flex-wrap items-center justify-center mx-auto">
                                    <div
                                        class="container flex flex-wrap items-center justify-center mx-auto relative overflow-hidden bg-no-repeat bg-cover max-w-xs">
                                        <a href=""><img src="./images/Overwatch_cover_art.jpg" alt=""
                                                class="max-w-xs hover:scale-105 transition duration-200 ease-in-out cursor-pointer"></a>
                                    </div>

                                    <div class="container flex flex-wrap items-center justify-center mx-auto">
                                        <p id="million"
                                            class="text-1xl text-white m-10 p-10 text-center border-4 rounded max-w-2xl">
                                            Overwatch is a first-person multiplayer shooter, set in a future where a
                                            conflict between robots and humanity necessitated the creation of a task
                                            force, conveniently called "Overwatch." In the game's primary competitive
                                            mode, players are arranged into two teams of six and compete on a variety of
                                            maps and game types.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </ul>
        </div>
    </section>