<div class="flex justify-center items-center flex-wrap">
  <div class="w-full max-w-lg px-10 py-8 mx-auto ">
    <div class="mt-10" id="username">
    </div>
    
    <div class="">
      <h2 class="text-3xl text-white m-1 flex justify-center items-center">favorites:</h2>
    </div>
    
  </div>  
</div>
<div class="flex flex-row flex-wrap justify-center items-center">
<section id="game-cards" class="items-center border-4 border-amber-500 m-10 flex flex-row flex-wrap justify-center items-center">

</section>
</div>
<script src="/js/profile.js"></script>
