<div class="flex justify-center items-center flex-wrap border-2">
  <div class="w-full max-w-lg px-10 py-8 mx-auto ">
    <div id="username">
    </div>
    
    <div class="">
      <h2 class="text-3xl text-white m-1 flex justify-center items-center">favorites:</h2>
    </div>
    
  </div>  
</div>
<section id="game-cards">

</section>
<script src="/js/profile.js"></script>
