<div class="">
<div class="">
  <div class="">
    <h1 class=""></h2>
  </div>
  
  <div class="">
    <h2 class="text-5xl text-white m-20 flex justify-center items-center">Results:</h3>
  </div>
  <section class="items-center border-4 m-10 flex flex-row flex-wrap justify-center items-center" id="searchResults">
    
<!--search results show up here-->
</section>
</div>  



<script src="/js/displayResults.js"></script>



