    <!--CODE BELOW IS FOR PAGE HEADER AND NAV BAR, THIS WILLL BE ON ALL PAGES SO USER CAN NAVIGATE WEBSITE-->
    <header>

    <div class="container flex flex-wrap items-center justify-center mx-auto ">
        <h1 class="text-7xl p-5 m-5 text-slate-700" id="heading">GameBoxd</h1>
    </div>

    <nav class="px-2 sm:px-4 py-2.5 rounded bg-teal-500 flex items-stretch">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="" class="flex items-center">
              <!-- <img src="" class="h-6 mr-3 sm:h-9" alt="logo" /> --> 
              <span class="self-center text-xl font-semibold text-white text-3xl">GameBoxd</span>
          </a>
          
          <div class="hidden w-full md:block md:w-auto flex align-content: space-between;">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 ">
              <li>
                <a href="#" class="text-2xl block py-2 pl-3 pr-4 text-slate-100 rounded hover:bg-gray-100 hover:drop-shadow-lg md:hover:bg-transparent md:border-0 md:hover:text-blue-700  md:p-0" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="text-2xl block py-2 pl-3 pr-4 text-slate-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Games</a>
              </li>
              <li>
                <a href="#" class="text-2xl block py-2 pl-3 pr-4 text-slate-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Login</a>
              </li>
              <li>
                <form class="order-first mb-10 md:mb-0 md:order-last md:pr-8" action="">
                    <input class="w-72 py-1 pl-3 pr-10 rounded-full focus:outline-0" type="text" placeholder="Search.."
                        name="search">
                    <button class="-ml-8 border-6 bg-trasparent" type="submit"><i
                            class="fa fa-search text-gray-400"></i></button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!--CODE BELOW IS GAME INFO AND COMMENT FEED PAGE-->
    <section>
      {{#each users as |user| }}

      <div id="gameCard" class="text-3xl text-white m-10 p-10 text-center shadow-inner shadow-xl">
        <div id="imageFrame" class="">
          <img id="imageOgGame" src="" >
          <div id="commentbox" class="">
            <h2>User: {{user.name}}</h2>
            <div id="commentFrame" class="">
            <p id="actualComment" class=""></p>
            </div>
            <button id="postButton" class="">Post</button>
          </div>
          
          {{/each}}

          
<!--CODE BELOW IS SHOWING COMMENTS ON GAME LEFT BY OTHER USERS-->
          <div id="PreviousComments" class="">
    <div id="commentbox" class="">
            <h2>User: {{user.name}}</h2>
            <div id="commentFrame" class="">
            <p id="actualComment" class=""></p>
            </div>
          </div>
          </div>
        </div>
      </div>

    </section>