    <section id="gameList" class="flex justify-center">
      <div id="" class="text-3xl text-white p-10 text-center flex items-center">
        <ul id="" class="border-4 rounded">
           <h1 class="m-10 text-slate-700">Popular Games</h1>
           <div class="flex items-center p-8 justify-between">
           <li id="game1" class="border-4 rounded max-w-2xl flex items-center"> test</li>
           <li id="game1" class="border-4 rounded max-w-2xl flex items-center"> test</li>
           <li id="game1" class="border-4 rounded max-w-2xl flex items-center"> test</li>
          </div>
        </ul>
    </div>
    </section>
